<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파일 업로드 실습</title>
    <style>
        p{
            white-space: pre-line;
        }
    </style>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        <p>아이디   <input type="text" name="" /></p>
        <p>비밀번호 </p><input type="password" name="" />
        <p>이름     </p><input type="text" name="" />
        <p>나이     </p><input type="number" name="" />
        <p>사진     </p><input type="file" name="" />
        <button onclick="reset()">리셋</button>
        <button type="submit">회원가입</button>
    </form>
</body>
</html>