<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>~~~님의 마이페이지</title>
</head>
<body>
    <!-- 회원 정보 수정 및 탈퇴 -->
    ~~~님 환영합니다.
</body>
</html>