<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <form name="userInfo">
        <input type="text" name="inputID" placeholder="ID를 입력하세요." required />
        <input type="password" name="inputPW" placeholder="PW를 입력하세요." required />
        <input type="text" name="inputName" placeholder="이름을 입력하세요." required />
        <button type="button" onclick="signUp();">회원가입</button>
    </form>
</body>
<script>
    /* 
    async function axiosPost() {
        const form = document.forms["register"];
        const data = {
            name: form.name.value,
            gender: form.gender.value,
        }

        try {
            const response = await axios({
                method: "POST",
                url: '/axios',
                data: data,
            });
            console.log(response.data);
            const { name: 이름, gender: 성별 } = response.data;
            resultBox.style.color = 'black';
            resultBox.innerText = `axios - post 요청 완료: ${이름} 님의 성별은 ${성별} 입니다`;
        } catch (error) {
            console.log(error);
        }
    }
    */
    async function signUp() {
        const form = document.forms["userInfo"];
        const data = {
            id: form.inputID.value,
            pw: form.inputPW.value,
            name: form.inputName.value
        }
        console.log('signup input',data);

        try {
            const response = await axios({
                method:'POST',
                url:'/signup',
                data:data
            });
            console.log(response);
            console.log('from signup input',response.data);
            alert('회원가입이 완료되었습니다.');
            // document.location.href='/';
        } catch(err) { console.log(err) }
        // axios({
        //     method:'POST',
        //     url:'/signup',
        //     data:{
        //         id:form.inputID.value,
        //         pw: form.inputPW.value,
        //         name: form.inputName.value
        //     }
        // }).then(function(response) {
        //     console.log(response);
        // }).catch(function(err) {
        //     console.log(err);
        // });
        // document.location.href = '/';
    };
</script>

</html>