/* .d-block {
      display:block;
      background-color: aqua;
      border: 1px solid black;
      width: 100px;
      height: 100px;
      padding:15px;
      margin: 20px;
}

.d-inline {
      display: inline;
      background-color: pink;
      width:1000px;
      height:200px;
      padding:15px;
      margin: 20px;

}

.d-inline-block {
      display:inline-block;
      width:100px;
      height:100px;
      background-color: olive;
      border: gray solid 1px;
      padding: 15px;
      margin:20px;
}
.back {
      width:auto;
      height:200px;
      background-color:orange;
}

.html {
      display: inline-block;
      width: 200px;
      height:100px;
      background-color: skyblue;
      margin-right: 30px;

}
.css {
      display: inline-block;
      width: 200px;
      height:100px;
      background-color: green;
      margin-right: 30px;
}
.javascript {
      display: inline-block;
      width: 200px;
      height:100px;
      background-color: red;
      margin-right: 30px;
      }

.parent {
      width:402px;
      height:200px;
      background-color: red;
}

.parent>.min {
      min-width:400px;
      height:100px;
      background-color: orange;
}

.parent>.max {
      max-width: 400px;
      height:100px;
      background-color: cyan;
}

.box {
      background-color: yellowgreen;
      border: 1px solid darkgreen;
}

.box-px {
      width: 50px;
      height:50px;
}

.box-vp {
      width:50vw;
      height:50vh;
}

.box-per {
      width:50%;
      height:50%;
} */
.square {
      display: inline-block;
      width: 100px;
      height: 100px;
      cursor: pointer;
}

/* 
.border {
      background-color: cyan;
      /* border: 3px solid rgb(0, 223, 223);
      border-color: rgb(0,223,223);
      border-style: dotted;
      border-width: 0 5px 10px 3px;
}

.rounded {
      background-color: firebrick;
      border-radius:  20px 5px 30px;
}
.border1 {
      width: 100px;
      height: 100px;
      border: 5px solid chartreuse;
      border-width: 0 20px 10px 0;
}

.border2 {
            
      width: 100px;
      height: 100px;
      border: 5px solid cadetblue;
      border-style: dotted dashed solid;
}

.border3 {
            
      width: 100px;
      height: 100px;
      border: 5px solid darkorchid;
      border-color: black gray black;
}

.border4 {
      width: 100px;
      height: 100px;
      border: 5px solid fuchsia;
}
*/

.box-sizing {
      padding:20px;
      border:15px solid red;
      background-color: orange;
}

.content-box {
      box-sizing: content-box;
}

.border-box {
      box-sizing: border-box;
}

.d-none {
      display: none; 
      /* 속성과 자리 둘 다 없앰 */
      background-color: red;
  }
  .invisible {
    visibility: hidden;
    /* 속성과 자리 남김 */
    background-color: orangered;
  }
  
  .opacity-0 {
    opacity: 50%;
    /* 투명도만 조절 */
    background-color: tomato;
  }

  .tlftmq {
      width:200px;
      height:200px;
      background-color: blue;
}
.tlftmq:hover {
      display:none;
}

.overflow-hidden {
      overflow: hidden;
}
.overflow-auto {
      overflow: auto;
}
.overflow-visible {
      overflow: visible;
}