<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <form name="login-form">
        <input type="text" id="id" placeholder="ID를 입력하세요" />
        <input type="password" id="pw" placeholder="비밀번호를 입력하세요" />
        <button type="button" onclick="login()">로그인</button>
    </form>

    <script>
        // POST, /login
        async function login() {
            const form = document.forms["login-form"];
            const response = await axios({
                method: "POST",
                url: "/login",
                data: {
                    id: form.id.value,
                    pw: form.pw.value,
                },
            });

            console.log(response.data);
            //{result, token}
            //{result, message}

            const { result, token, message } = response.data;
            // result: 로그인 성공 시 true, 실패 시 false
            // token: 로그인 성공시 token 정보, 로그인 실패 시 undefined
            // message: 로그인 성공시 undefined, 로그인 실패 시 "로그인 정보가 올바르지 않습니다."
            if (result) {
                /* --local storage
                브라우저 내에 영구적으로 key:value 로 데이터를저장
                쿠키와 비슷하게 클라이언트에 저장소를 가지고 있으며 문자형 데이터만 저장
                5kb까지 저장 가능
                localStorage.setItem('키이름1',data1); {키이름1:data1}
                localStorage.setItem('키이름2',data2); {키이름1:data1,키이름2:data2}
                localStorage.setItem('키이름3',data3); {키이름1:data1,키이름2:data2,키이름3:data3}
                
                localStorage.getItem('키이름2') => 키이름2에 저장된 value값(data2) 반환.

                localStorage.removeItem('키이름2") => {키이름1:data1,키이름3:data3}

                localStorage.clear() => {}      // 전체 데이터 삭제
                */
               localStorage.setItem('login',token);
               document.location.href='/';
            } else {
                alert(message);
                document.location.reload(); // form.reset() 과 같음.
            }
        }
    </script>
</body>

</html>